$primary-color: #4A1B9D;
$yellow-btn-color: #FEF400;
$top-nav-text-color: #25273C;
$secondary-text-color: #7C7D8A;
$small10-text : 10px;
$smal14-text: 14px;

// CONTENT
// -- BANNER
#banner{
  overflow: hidden;
  height: 120vh;
  padding: 10em 0;

  .banner-slide {
    .splide__container{
      overflow: hidden;
      width: calc(150px + 100%);
    }
    .splide__track {
      overflow: visible;
    }
  
    .splide__list{
      align-items: center;
    }
  
    .splide__slide{
      width: calc(100% - 8em) !important;
      
      &.is-prev, &.is-next{
        opacity: 0.5;
        .splide__slide__container{
          width: 80%;      
        }
      }
    }
    .splide__slide__container{
      img {
        border-radius: 15px;
        width: 100%;
      }
    }
  }
  
  .banner-description {
    .splide__container{
      position: relative;
    }
    .fade-left{
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 3;
      width: 5em;
      background: linear-gradient(to right,$primary-color, transparent);
    }
    .fade-right{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      width: 5em;
      background: linear-gradient(to left,$primary-color, transparent);
    }
    .splide__slide__container{
      img {
        height: 43px;
      }
    }
  }
}

// -- GOTO CARD
#goto {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -7em;

  .goto-card{
    border-radius: 20px;
    border: none;
  }

  .goto-card-header{
    display: flex;
    gap: 1em;
    align-items: center;

    &-icon{
      height: 100%;
      padding: 10px 15px;
      border-radius: 50%;
      background-color: rgb(74, 27, 157, 0.1);
      color: $primary-color;
      font-size: 28px;
    }
    &-title{
      margin: 0;
      font-weight: 600;
    }
  }
  .goto-card-description{
    color: rgb(0, 0, 0, 0.7);
    margin: 0;
  }
  .goto-card-link{
    text-decoration: none;
    font-weight: 500;
    color: $primary-color;
  }
}

// -- WELCOME
#welcome{
  padding-top: 10rem;
  background-color: #fafafa;

  h1{
    font-weight: 600;
  }

  .kaprodi-photo-wrapper{
    text-align: center;

    img{
      max-height: 300px;
      border-radius: 20px;
    }
  }
}

//  -- REASONS
#reasons{
  .card{
    height: 100%;
  }
  .reasons-card-number{
    font-size: 100px;
    color: rgb(74, 27, 157, 0.1);
    line-height: 100px;
  }
  .reasons-card-title{
    margin-top: -2rem;
  }
  .reasons-card-content{
    color: #7C7D8A;
  }
}

// -- VIDEO
.video-fkip{
  .video-wrapper{
    display: flex;
    justify-content: center;
  }
  .video-player{
    position: relative;
    cursor: pointer;
    width: 75%;

    &-icon{
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      top: 50%;
    } 
    img{
      border-radius: 30px;
    }
  }
}

// -- SERVICES
#services{
  background-color: #FAFAFA;

  .card:hover{
    border: 1px solid $primary-color;
    background-color: #F6F4FA;
  }
  .btn-service{
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    color: $primary-color;
  }
  .btn-service-display{
    font-weight: 500;
    color: $primary-color;
  }
}

// -- AGENDA
#agenda{
  overflow: hidden;
  background-color: #FAFAFA;
  .btn-arrow-splide{
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 8px 12px;
    border-radius: 50%;

    &:hover{
      background-color: $primary-color;
      color: white;
    }
  }
  .splide__track {
    overflow: visible;
  }

  .splide__list{
    align-items: center;
  }

  .splide__slide{
    width: 280px;
    &:not(.is-active){
      opacity: 0.5;
    }

    &.is-active{
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
      width: 358px;
    }
  }
  .splide__slide__container{
    img {
      width: 100%;
    }
  }
}

// -- INFO
#info{
  .info-category-wrapper{
    position: relative;
  }

  .fade-bottom{
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, $primary-color, transparent);
  }

  .info-category-list{
    position: relative;
    list-style: none;
    padding: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: scroll;

    &-item{
      padding: 16px;
      color: rgb(255, 255, 255, 0.7);
    }
    &-item:hover, &-item.active{
      color: white;
      background-color: rgb(255, 255, 255, 0.2);
      border-radius: 15px;
      cursor: pointer;
    }
  }

  .info-post-wrapper{
    display: none;

    &.show{
      display: block;
    }
  }
  .card-info{
    height: 150px;
  }
}

// -- GALLERY
#gallery{
  background-color: #FAFAFA;
  .gallery-img-wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &.img-outer{
      height: 460px;

      img{
        transform: translateX(-25%);
      }
    }
    &.img-inner{
      height: 221px;
    }

    img{
      height: 100%;
      position: absolute;
      object-fit: cover;
    }
  }
}
#gallery-lightbox-modal{
  button.btn-close{
    position: absolute;
    right: 3rem;
    top: 3rem;
    background-color: #E0E0E0;
    padding: 1rem;
    border-radius: 50%;
  }
}

// PARTNERS
#partners{
  .partner-card{
    height: 140px;
    border-radius: 0;
    
    .card-body{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 3rem;
    }

    &-img{
      width: auto;
      height: 100%;
    }
  }
}

@media (min-width: 1400px){
  #banner{
    height: max-content;
    .splide__track {
      overflow: hidden !important;
    }
  }

  #agenda{
    .splide__track{
      overflow: hidden !important;
    }
  }
}

@media (max-width:996px){
  #banner{
    padding-top: 5em;
    height: max-content;

    .splide__container{
      width: 100% !important;
    }
    .banner-slide{
      .splide__slide{
        width: 100% !important;
  
        &.is-prev, &.is-next{
          .splide__slide__container{
            width: 100% !important;      
          }
        }
      }
    }
  }

  #goto{
    position: relative;
  }

  #welcome{
    padding-top: 7em;

    .welcome-dean-container{
      align-items: center;
  
      &-item{
        width: 50% !important; 
      } 
    }

  }
  .video-fkip{
    .video-player{
      width: 100%;
    }
  }
  
  #info{
    .info-category-wrapper{
      overflow: scroll;
    }
    .fade-bottom{
      display: none;
    }
    .info-category-list{
      display: inline-flex;
      flex-direction: row;
      padding-bottom: 0;

      &-item{
        width: max-content;
      }
    }
  }

  #partners{
    .partner-card-img{
      width: 50%;
    }
    
  }
}