$primary-color: #4A1B9D;
$yellow-btn-color: #FEF400;
$top-nav-text-color: #25273C;
$secondary-text-color: #7C7D8A;
$small10-text : 10px;
$smal14-text: 14px;

@font-face {
  font-family: 'Rubik';
  font-style: NORMAL; /* See note below */
  font-weight: 300 400 500 600 700 800 900;
  src: url("../font/Rubik-VariableFont_wght.ttf");
}

* {
  font-family: 'Rubik';
}

section{
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.bg-purple{
  background-size: cover;
  background: url("../img/bg-vector.png"), $primary-color;
}

.btn-round-yellow {
  background-color: $yellow-btn-color;
  border-radius: 30px;
  font-weight: 500;

  &:hover{
    background-color: #c7c003;
  }
}
.btn-round-purple {
  background-color: $primary-color;
  color: white;
  border-radius: 30px;
  font-weight: 500;

  &:hover{
    background-color: #3a1679;
    color: white;
  }
}

.btn-purple{
  background-color: white;
  color: $primary-color;
  font-weight: 500;
  border-left :1px solid black;

  &:hover{
    background-color: rgb(130, 87, 204);
    color: white;
  }
}

.text-primary{
  color: $primary-color !important;
}
.text-secondary{
  color: $secondary-text-color;
}

// NAVBAR
// --- TOP NAV
#top-nav{
  *{
    color: $top-nav-text-color;
  }

  li a{
    text-decoration: none;
  }
}

// --- MAIN NAV
#main-nav{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: linear-gradient(to bottom, $primary-color, transparent);
  backdrop-filter: blur(2px); /* Blur effect */
  -webkit-backdrop-filter: blur(2px); /* Safari support */

  &.sticky{
    top: 0;
  }

  #mainNavbarNav .nav-link{
    color: rgb(255, 255, 255, 0.7);
    
    &:hover{
      color: white;
    }
    &.active{
      color: white;
    }
  }

  .navbar-brand{
    h6{
      font-size: 10px;
    }
    h5{
      font-size: 14px;
    }
  }

  .btn-round-white{
    background-color: rgb(255, 255, 255,0.16);
    border-radius: 50%;
    padding: 0.2em 0.5em;
    color: white;
  }
  .btn-round-white:hover{
    background-color: white;
    color: black;
  }

  .has-sub{
    position: relative;

    &>a::after{
      content: "\f282";
      font-family: bootstrap-icons !important;
      vertical-align: -.1rem;
      font-size: 14px;
      font-weight: bold;
      margin-left: .2rem;
    }

    i{
      display: none;
      opacity: 0;
      transition: all 1000ms;
    }
    
    .nav-sub-menu{
      position: absolute;
      opacity: 0;
      display: none;
      z-index: 99;
      list-style-type: none;
      padding: 0.5rem;
      background-color: white;
      border-radius: 0.25rem;
      width: 225px;
  
      &-point{
        position: absolute;
        bottom: -10px;
        left: 30%;
      }
  
      li{
        &:hover{
          background-color: rgb(74, 27, 157, 0.1);
          
          & > a{
            color: $primary-color;
          }
        }
      }
  
      a{
        display: block;
        height: 100%;
        width: 100%;
        color: $secondary-text-color;
        font-weight: 500;
        text-decoration: none;
        padding: 10px;
      }
    }
  }

  .nav-sub-menu .has-sub > a::after{
    content: "\f285";
    font-family: bootstrap-icons !important;
    vertical-align: -.1rem;
    font-size: 14px;
    font-weight: bold;
    margin-left: .2rem;
  }

  #searchbar{
    display: none;
    &.show{
      display: block !important;
    }
  } 
}

// FOOTER
footer{
  #footer-top{
    padding-top: 5rem;
    padding-bottom: 3rem;
  }
  #footer-bottom{
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .btn-footer{
    font-size: 24px;
    color: white;
    padding: 0.1rem 0.5rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.2);

    &:hover{
      background-color: white;
      color: $primary-color;
    }
  }

  .footer-link{
    color: rgb(255, 255, 255, 0.8);
    text-decoration: none;
    &:hover{
      color: white;
    }
  }
}

@media (min-width: 1400px){
  
}

@media (min-width: 996px){
  #main-nav{
    .nav-sub-menu .nav-sub-menu{
      left: 200px !important;
      top: 0;
    }
    .has-sub:hover{
      i, & > .nav-sub-menu{
        display: block;
        opacity: 1;
      }
    }

    #searchbar{
      position: absolute;
      bottom: -45px;
    }
  }
}
@media (max-width: 996px){
  #main-nav{
    & .navbar-collapse.show{
      min-height: 100vh;
      
      &>ul{
        height: 90vh;
        overflow-y: scroll;
      }
    }
    
    .nav-sub-menu{
      position: relative !important;
      transition: all 1000ms;
      width: 100% !important;
    }
  
    .nav-sub-menu .nav-sub-menu{
      position: absolute;
      bottom: 0;
    }

    .nav-sub-menu.show{
      display: block !important;
      opacity: 1 !important;
    }
  
    .nav-sub-menu .has-sub > a::after{
      content: "\f282";
    }

    .navbar-brand{
      img{
        width: 30px;
        height: 30px;
      }
      h6{
        font-size: 0.5rem;
      }
      h5{
        font-size: 0.65rem;
      }
    }
  }
}

