#banner {
  overflow: hidden;
  height: 120vh;
  padding: 10em 0;
}
#banner .banner-slide .splide__container {
  overflow: hidden;
  width: calc(150px + 100%);
}
#banner .banner-slide .splide__track {
  overflow: visible;
}
#banner .banner-slide .splide__list {
  align-items: center;
}
#banner .banner-slide .splide__slide {
  width: calc(100% - 8em) !important;
}
#banner .banner-slide .splide__slide.is-prev, #banner .banner-slide .splide__slide.is-next {
  opacity: 0.5;
}
#banner .banner-slide .splide__slide.is-prev .splide__slide__container, #banner .banner-slide .splide__slide.is-next .splide__slide__container {
  width: 80%;
}
#banner .banner-slide .splide__slide__container img {
  border-radius: 15px;
  width: 100%;
}
#banner .banner-description .splide__container {
  position: relative;
}
#banner .banner-description .fade-left {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 5em;
  background: linear-gradient(to right, #4A1B9D, transparent);
}
#banner .banner-description .fade-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 5em;
  background: linear-gradient(to left, #4A1B9D, transparent);
}
#banner .banner-description .splide__slide__container img {
  height: 43px;
}

#goto {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -7em;
}
#goto .goto-card {
  border-radius: 20px;
  border: none;
}
#goto .goto-card-header {
  display: flex;
  gap: 1em;
  align-items: center;
}
#goto .goto-card-header-icon {
  height: 100%;
  padding: 10px 15px;
  border-radius: 50%;
  background-color: rgba(74, 27, 157, 0.1);
  color: #4A1B9D;
  font-size: 28px;
}
#goto .goto-card-header-title {
  margin: 0;
  font-weight: 600;
}
#goto .goto-card-description {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}
#goto .goto-card-link {
  text-decoration: none;
  font-weight: 500;
  color: #4A1B9D;
}

#welcome {
  padding-top: 10rem;
  background-color: #fafafa;
}
#welcome h1 {
  font-weight: 600;
}
#welcome .welcome-dean-container {
  display: flex;
  gap: 1rem;
}
#welcome .welcome-dean-container-item {
  width: 25%;
  transition: width 800ms;
}
#welcome .welcome-dean-container-item.active {
  width: 28%;
}
#welcome .welcome-dean-container-item-img {
  background-color: #E0E0E0;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: padding 800ms;
}
#welcome .welcome-dean-container-item-img:hover {
  background-color: #4A1B9D;
  padding-top: 2em;
}
#welcome .welcome-dean-container-item-img img {
  transform: translateY(50px) scale(1.25);
}

#reasons .card {
  height: 100%;
}
#reasons .reasons-card-number {
  font-size: 100px;
  color: rgba(74, 27, 157, 0.1);
  line-height: 100px;
}
#reasons .reasons-card-title {
  margin-top: -2rem;
}
#reasons .reasons-card-content {
  color: #7C7D8A;
}

.video-fkip .video-wrapper {
  display: flex;
  justify-content: center;
}
.video-fkip .video-player {
  position: relative;
  cursor: pointer;
  width: 75%;
}
.video-fkip .video-player-icon {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
}
.video-fkip .video-player img {
  border-radius: 30px;
}

#services {
  background-color: #FAFAFA;
}
#services .card:hover {
  border: 1px solid #4A1B9D;
  background-color: #F6F4FA;
}
#services .btn-service {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  color: #4A1B9D;
}
#services .btn-service-display {
  font-weight: 500;
  color: #4A1B9D;
}

#agenda {
  overflow: hidden;
  background-color: #FAFAFA;
}
#agenda .btn-arrow-splide {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 50%;
}
#agenda .btn-arrow-splide:hover {
  background-color: #4A1B9D;
  color: white;
}
#agenda .splide__track {
  overflow: visible;
}
#agenda .splide__list {
  align-items: center;
}
#agenda .splide__slide {
  width: 280px;
}
#agenda .splide__slide:not(.is-active) {
  opacity: 0.5;
}
#agenda .splide__slide.is-active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
  width: 358px;
}
#agenda .splide__slide__container img {
  width: 100%;
}

#info .info-category-wrapper {
  position: relative;
}
#info .fade-bottom {
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, #4A1B9D, transparent);
}
#info .info-category-list {
  position: relative;
  list-style: none;
  padding: 0;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow: scroll;
}
#info .info-category-list-item {
  padding: 16px;
  color: rgba(255, 255, 255, 0.7);
}
#info .info-category-list-item:hover, #info .info-category-list-item.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  cursor: pointer;
}
#info .info-post-wrapper {
  display: none;
}
#info .info-post-wrapper.show {
  display: block;
}
#info .card-info {
  height: 150px;
}

#gallery {
  background-color: #FAFAFA;
}
#gallery .gallery-img-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#gallery .gallery-img-wrapper.img-outer {
  height: 460px;
}
#gallery .gallery-img-wrapper.img-outer img {
  transform: translateX(-25%);
}
#gallery .gallery-img-wrapper.img-inner {
  height: 221px;
}
#gallery .gallery-img-wrapper img {
  height: 100%;
  position: absolute;
  object-fit: cover;
}

#gallery-lightbox-modal button.btn-close {
  position: absolute;
  right: 3rem;
  top: 3rem;
  background-color: #E0E0E0;
  padding: 1rem;
  border-radius: 50%;
}

#partners .partner-card {
  min-height: 140px;
  border-radius: 0;
}
#partners .partner-card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}
#partners .partner-card-img {
  width: 100%;
}

@media (min-width: 1400px) {
  #banner {
    height: max-content;
  }
  #banner .splide__track {
    overflow: hidden !important;
  }
  #agenda .splide__track {
    overflow: hidden !important;
  }
}
@media (max-width: 996px) {
  #banner {
    padding-top: 5em;
    height: max-content;
  }
  #banner .splide__container {
    width: 100% !important;
  }
  #banner .banner-slide .splide__slide {
    width: 100% !important;
  }
  #banner .banner-slide .splide__slide.is-prev .splide__slide__container, #banner .banner-slide .splide__slide.is-next .splide__slide__container {
    width: 100% !important;
  }
  #goto {
    position: relative;
  }
  #welcome {
    padding-top: 7em;
  }
  #welcome .welcome-dean-container {
    align-items: center;
  }
  #welcome .welcome-dean-container-item {
    width: 50% !important;
  }
  .video-fkip .video-player {
    width: 100%;
  }
  #info .info-category-wrapper {
    overflow: scroll;
  }
  #info .fade-bottom {
    display: none;
  }
  #info .info-category-list {
    display: inline-flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  #info .info-category-list-item {
    width: max-content;
  }
  #partners .partner-card-img {
    width: 50%;
  }
}/*# sourceMappingURL=homepage.css.map */