@font-face {
  font-family: "Rubik";
  font-style: NORMAL; /* See note below */
  font-weight: 300 400 500 600 700 800 900;
  src: url("../font/Rubik-VariableFont_wght.ttf");
}
* {
  font-family: "Rubik";
}

section {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.bg-purple {
  background-size: cover;
  background: url("../img/bg-vector.png"), #4A1B9D;
}

.btn-round-yellow {
  background-color: #FEF400;
  border-radius: 30px;
  font-weight: 500;
}
.btn-round-yellow:hover {
  background-color: #c7c003;
}

.btn-round-purple {
  background-color: #4A1B9D;
  color: white;
  border-radius: 30px;
  font-weight: 500;
}
.btn-round-purple:hover {
  background-color: #3a1679;
  color: white;
}

.btn-purple {
  background-color: white;
  color: #4A1B9D;
  font-weight: 500;
  border-left: 1px solid black;
}
.btn-purple:hover {
  background-color: rgb(130, 87, 204);
  color: white;
}

.text-primary {
  color: #4A1B9D !important;
}

.text-secondary {
  color: #7C7D8A;
}

#top-nav * {
  color: #25273C;
}
#top-nav li a {
  text-decoration: none;
}

#main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: linear-gradient(to bottom, #4A1B9D, transparent);
  backdrop-filter: blur(2px); /* Blur effect */
  -webkit-backdrop-filter: blur(2px); /* Safari support */
}
#main-nav.sticky {
  top: 0;
}
#main-nav #mainNavbarNav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}
#main-nav #mainNavbarNav .nav-link:hover {
  color: white;
}
#main-nav #mainNavbarNav .nav-link.active {
  color: white;
}
#main-nav .navbar-brand h6 {
  font-size: 10px;
}
#main-nav .navbar-brand h5 {
  font-size: 14px;
}
#main-nav .btn-round-white {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
  padding: 0.2em 0.5em;
  color: white;
}
#main-nav .btn-round-white:hover {
  background-color: white;
  color: black;
}
#main-nav .has-sub {
  position: relative;
}
#main-nav .has-sub > a::after {
  content: "\f282";
  font-family: bootstrap-icons !important;
  vertical-align: -0.1rem;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0.2rem;
}
#main-nav .has-sub i {
  display: none;
  opacity: 0;
  transition: all 1000ms;
}
#main-nav .has-sub .nav-sub-menu {
  position: absolute;
  opacity: 0;
  display: none;
  z-index: 99;
  list-style-type: none;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  width: 225px;
}
#main-nav .has-sub .nav-sub-menu-point {
  position: absolute;
  bottom: -10px;
  left: 30%;
}
#main-nav .has-sub .nav-sub-menu li:hover {
  background-color: rgba(74, 27, 157, 0.1);
}
#main-nav .has-sub .nav-sub-menu li:hover > a {
  color: #4A1B9D;
}
#main-nav .has-sub .nav-sub-menu a {
  display: block;
  height: 100%;
  width: 100%;
  color: #7C7D8A;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
}
#main-nav .nav-sub-menu .has-sub > a::after {
  content: "\f285";
  font-family: bootstrap-icons !important;
  vertical-align: -0.1rem;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0.2rem;
}
#main-nav #searchbar {
  display: none;
}
#main-nav #searchbar.show {
  display: block !important;
}

footer #footer-top {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
footer #footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer .btn-footer {
  font-size: 24px;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .btn-footer:hover {
  background-color: white;
  color: #4A1B9D;
}
footer .footer-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
footer .footer-link:hover {
  color: white;
}

@media (min-width: 996px) {
  #main-nav .nav-sub-menu .nav-sub-menu {
    left: 200px !important;
    top: 0;
  }
  #main-nav .has-sub:hover i, #main-nav .has-sub:hover > .nav-sub-menu {
    display: block;
    opacity: 1;
  }
  #main-nav #searchbar {
    position: absolute;
    bottom: -45px;
  }
}
@media (max-width: 996px) {
  #main-nav .navbar-collapse.show {
    min-height: 100vh;
  }
  #main-nav .navbar-collapse.show > ul {
    height: 90vh;
    overflow-y: scroll;
  }
  #main-nav .nav-sub-menu {
    position: relative !important;
    transition: all 1000ms;
    width: 100% !important;
  }
  #main-nav .nav-sub-menu .nav-sub-menu {
    position: absolute;
    bottom: 0;
  }
  #main-nav .nav-sub-menu.show {
    display: block !important;
    opacity: 1 !important;
  }
  #main-nav .nav-sub-menu .has-sub > a::after {
    content: "\f282";
  }
  #main-nav .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  #main-nav .navbar-brand h6 {
    font-size: 0.5rem;
  }
  #main-nav .navbar-brand h5 {
    font-size: 0.65rem;
  }
}/*# sourceMappingURL=main.css.map */