@font-face {
  font-family: "Rubik";
  font-style: NORMAL; /* See note below */
  font-weight: 300 400 500 600 700 800 900;
  src: url("../font/Rubik-VariableFont_wght.ttf");
}
* {
  font-family: "Rubik";
}

section {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.bg-purple {
  background-size: cover;
  background: url("../img/bg-vector.png"), #4A1B9D;
}

.btn-round-yellow {
  background-color: #FEF400;
  border-radius: 30px;
  font-weight: 500;
}
.btn-round-yellow:hover {
  background-color: #c7c003;
}

.btn-round-purple {
  background-color: #4A1B9D;
  color: white;
  border-radius: 30px;
  font-weight: 500;
}
.btn-round-purple:hover {
  background-color: #3a1679;
  color: white;
}

.btn-purple {
  background-color: white;
  color: #4A1B9D;
  font-weight: 500;
  border-left: 1px solid black;
}
.btn-purple:hover {
  background-color: rgb(130, 87, 204);
  color: white;
}

.text-primary {
  color: #4A1B9D !important;
}

.text-secondary {
  color: #7C7D8A;
}

#top-nav * {
  color: #25273C;
}
#top-nav li a {
  text-decoration: none;
}

#main-nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: linear-gradient(to bottom, #4A1B9D, transparent);
  backdrop-filter: blur(2px); /* Blur effect */
  -webkit-backdrop-filter: blur(2px); /* Safari support */
}
#main-nav.sticky {
  top: 0;
}
#main-nav #mainNavbarNav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}
#main-nav #mainNavbarNav .nav-link:hover {
  color: white;
}
#main-nav #mainNavbarNav .nav-link.active {
  color: white;
}
#main-nav .navbar-brand h6 {
  font-size: 10px;
}
#main-nav .navbar-brand h5 {
  font-size: 14px;
}
#main-nav .btn-round-white {
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 50%;
  padding: 0.2em 0.5em;
  color: white;
}
#main-nav .btn-round-white:hover {
  background-color: white;
  color: black;
}
#main-nav .has-sub {
  position: relative;
}
#main-nav .has-sub > a::after {
  content: "\f282";
  font-family: bootstrap-icons !important;
  vertical-align: -0.1rem;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0.2rem;
}
#main-nav .has-sub i {
  display: none;
  opacity: 0;
  transition: all 1000ms;
}
#main-nav .has-sub .nav-sub-menu {
  position: absolute;
  opacity: 0;
  display: none;
  z-index: 99;
  list-style-type: none;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.25rem;
  width: 225px;
}
#main-nav .has-sub .nav-sub-menu-point {
  position: absolute;
  bottom: -10px;
  left: 30%;
}
#main-nav .has-sub .nav-sub-menu li:hover {
  background-color: rgba(74, 27, 157, 0.1);
}
#main-nav .has-sub .nav-sub-menu li:hover > a {
  color: #4A1B9D;
}
#main-nav .has-sub .nav-sub-menu a {
  display: block;
  height: 100%;
  width: 100%;
  color: #7C7D8A;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
}
#main-nav .nav-sub-menu .has-sub > a::after {
  content: "\f285";
  font-family: bootstrap-icons !important;
  vertical-align: -0.1rem;
  font-size: 14px;
  font-weight: bold;
  margin-left: 0.2rem;
}
#main-nav #searchbar {
  display: none;
}
#main-nav #searchbar.show {
  display: block !important;
}

#banner {
  overflow: hidden;
  height: 120vh;
  padding: 10em 0;
}
#banner .banner-slide .splide__container {
  overflow: hidden;
  width: calc(150px + 100%);
}
#banner .banner-slide .splide__track {
  overflow: visible;
}
#banner .banner-slide .splide__list {
  align-items: center;
}
#banner .banner-slide .splide__slide {
  width: calc(100% - 8em) !important;
}
#banner .banner-slide .splide__slide.is-prev, #banner .banner-slide .splide__slide.is-next {
  opacity: 0.5;
}
#banner .banner-slide .splide__slide.is-prev .splide__slide__container, #banner .banner-slide .splide__slide.is-next .splide__slide__container {
  width: 80%;
}
#banner .banner-slide .splide__slide__container img {
  border-radius: 15px;
  width: 100%;
}
#banner .banner-description .splide__container {
  position: relative;
}
#banner .banner-description .fade-left {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 5em;
  background: linear-gradient(to right, #4A1B9D, transparent);
}
#banner .banner-description .fade-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 5em;
  background: linear-gradient(to left, #4A1B9D, transparent);
}
#banner .banner-description .splide__slide__container img {
  height: 43px;
}

#goto {
  position: absolute;
  right: 0;
  left: 0;
  margin-top: -7em;
}
#goto .goto-card {
  border-radius: 20px;
  border: none;
}
#goto .goto-card-header {
  display: flex;
  gap: 1em;
  align-items: center;
}
#goto .goto-card-header-icon {
  height: 100%;
  padding: 10px 15px;
  border-radius: 50%;
  background-color: rgba(74, 27, 157, 0.1);
  color: #4A1B9D;
  font-size: 28px;
}
#goto .goto-card-header-title {
  margin: 0;
  font-weight: 600;
}
#goto .goto-card-description {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}
#goto .goto-card-link {
  text-decoration: none;
  font-weight: 500;
  color: #4A1B9D;
}

#welcome {
  padding-top: 10rem;
  background-color: #fafafa;
}
#welcome h1 {
  font-weight: 600;
}
#welcome .welcome-dean-container {
  display: flex;
  gap: 1rem;
}
#welcome .welcome-dean-container-item {
  width: 25%;
  transition: width 800ms;
}
#welcome .welcome-dean-container-item.active {
  width: 28%;
}
#welcome .welcome-dean-container-item-img {
  background-color: #E0E0E0;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: padding 800ms;
}
#welcome .welcome-dean-container-item-img:hover {
  background-color: #4A1B9D;
  padding-top: 2em;
}
#welcome .welcome-dean-container-item-img img {
  transform: translateY(50px) scale(1.25);
}

#reasons .card {
  height: 100%;
}
#reasons .reasons-card-number {
  font-size: 100px;
  color: rgba(74, 27, 157, 0.1);
  line-height: 100px;
}
#reasons .reasons-card-title {
  margin-top: -2rem;
}
#reasons .reasons-card-content {
  color: #7C7D8A;
}

.video-fkip .video-wrapper {
  display: flex;
  justify-content: center;
}
.video-fkip .video-player {
  position: relative;
  cursor: pointer;
  width: 75%;
}
.video-fkip .video-player-icon {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
}
.video-fkip .video-player img {
  border-radius: 30px;
}

#services {
  background-color: #FAFAFA;
}
#services .card:hover {
  border: 1px solid #4A1B9D;
  background-color: #F6F4FA;
}
#services .btn-service {
  display: block;
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  color: #4A1B9D;
}
#services .btn-service-display {
  font-weight: 500;
  color: #4A1B9D;
}

#agenda {
  overflow: hidden;
  background-color: #FAFAFA;
}
#agenda .btn-arrow-splide {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  border-radius: 50%;
}
#agenda .btn-arrow-splide:hover {
  background-color: #4A1B9D;
  color: white;
}
#agenda .splide__track {
  overflow: visible;
}
#agenda .splide__list {
  align-items: center;
}
#agenda .splide__slide {
  width: 280px;
}
#agenda .splide__slide:not(.is-active) {
  opacity: 0.5;
}
#agenda .splide__slide.is-active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
  width: 358px;
}
#agenda .splide__slide__container img {
  width: 100%;
}

#info .info-category-wrapper {
  position: relative;
}
#info .fade-bottom {
  position: absolute;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, #4A1B9D, transparent);
}
#info .info-category-list {
  position: relative;
  list-style: none;
  padding: 0;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow: scroll;
}
#info .info-category-list-item {
  padding: 16px;
  color: rgba(255, 255, 255, 0.7);
}
#info .info-category-list-item:hover, #info .info-category-list-item.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  cursor: pointer;
}
#info .info-post-wrapper {
  display: none;
}
#info .info-post-wrapper.show {
  display: block;
}
#info .card-info {
  height: 150px;
}

#gallery {
  background-color: #FAFAFA;
}
#gallery .gallery-img-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#gallery .gallery-img-wrapper.img-outer {
  height: 460px;
}
#gallery .gallery-img-wrapper.img-outer img {
  transform: translateX(-25%);
}
#gallery .gallery-img-wrapper.img-inner {
  height: 221px;
}
#gallery .gallery-img-wrapper img {
  height: 100%;
  position: absolute;
  object-fit: cover;
}

#gallery-lightbox-modal button.btn-close {
  position: absolute;
  right: 3rem;
  top: 3rem;
  background-color: #E0E0E0;
  padding: 1rem;
  border-radius: 50%;
}

#partners .partner-card {
  min-height: 140px;
  border-radius: 0;
}
#partners .partner-card .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}
#partners .partner-card-img {
  width: 100%;
}

footer #footer-top {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
footer #footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer .btn-footer {
  font-size: 24px;
  color: white;
  padding: 0.1rem 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
footer .btn-footer:hover {
  background-color: white;
  color: #4A1B9D;
}
footer .footer-link {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
footer .footer-link:hover {
  color: white;
}

@media (min-width: 1400px) {
  #banner {
    height: max-content;
  }
  #banner .splide__track {
    overflow: hidden !important;
  }
  #agenda .splide__track {
    overflow: hidden !important;
  }
}
@media (min-width: 996px) {
  #main-nav .nav-sub-menu .nav-sub-menu {
    left: 200px !important;
    top: 0;
  }
  #main-nav .has-sub:hover i, #main-nav .has-sub:hover > .nav-sub-menu {
    display: block;
    opacity: 1;
  }
  #main-nav #searchbar {
    position: absolute;
    bottom: -45px;
  }
}
@media (max-width: 996px) {
  #main-nav .navbar-collapse.show {
    min-height: 100vh;
  }
  #main-nav .navbar-collapse.show > ul {
    height: 90vh;
    overflow-y: scroll;
  }
  #main-nav .nav-sub-menu {
    position: relative !important;
    transition: all 1000ms;
    width: 100% !important;
  }
  #main-nav .nav-sub-menu .nav-sub-menu {
    position: absolute;
    bottom: 0;
  }
  #main-nav .nav-sub-menu.show {
    display: block !important;
    opacity: 1 !important;
  }
  #main-nav .nav-sub-menu .has-sub > a::after {
    content: "\f282";
  }
  #main-nav .navbar-brand img {
    width: 30px;
    height: 30px;
  }
  #main-nav .navbar-brand h6 {
    font-size: 0.5rem;
  }
  #main-nav .navbar-brand h5 {
    font-size: 0.65rem;
  }
  #banner {
    padding-top: 5em;
    height: max-content;
  }
  #banner .splide__container {
    width: 100% !important;
  }
  #banner .banner-slide .splide__slide {
    width: 100% !important;
  }
  #banner .banner-slide .splide__slide.is-prev .splide__slide__container, #banner .banner-slide .splide__slide.is-next .splide__slide__container {
    width: 100% !important;
  }
  #goto {
    position: relative;
  }
  #welcome {
    padding-top: 7em;
  }
  #welcome .welcome-dean-container {
    align-items: center;
  }
  #welcome .welcome-dean-container-item {
    width: 50% !important;
  }
  .video-fkip .video-player {
    width: 100%;
  }
  #info .info-category-wrapper {
    overflow: scroll;
  }
  #info .fade-bottom {
    display: none;
  }
  #info .info-category-list {
    display: inline-flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  #info .info-category-list-item {
    width: max-content;
  }
  #partners .partner-card-img {
    width: 50%;
  }
}/*# sourceMappingURL=main.css.map */